/* GLOBAL */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #E8F1FF;
    display: flex;
}

/* AUTH PAGES */
.auth-card {
    width: 380px;
    background: white;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.1);
}

.error { color: red; text-align:center; }

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #1A2A45;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    padding-top: 30px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 40px;
}

.menu-item {
    padding: 15px 25px;
    color: #cfd9e7;
    text-decoration: none;
    display: block;
    transition: 0.2s;
}

.menu-item:hover {
    background: rgba(255, 255, 255, 0.15);
    color: white;
}

.active {
    background: #3A7AFE;
    color: white;
}

/* MAIN CONTENT */
.main {
    margin-left: 240px;
    padding: 40px;
    width: calc(100% - 240px);
}

/* CARD */
.card {
    background: white;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* INPUTS */
input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    border: 1px solid #d0d7e6;
    border-radius: 8px;
}

/* BUTTON */
button {
    width: 100%;
    background: #3A7AFE;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #1f5ff5;
}

/* DASHBOARD */
.metrics {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.metric-box {
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.safe { color: #27C081; font-weight:bold; }
.danger { color: #FF5C5C; font-weight:bold; }
