<!DOCTYPE html>
<html>
<head>
    <title>Login - LoanShield</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body style="justify-content:center;align-items:center;">

<div class="auth-card">
    <h2>Login</h2>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>

        <button type="submit">Login</button>
    </form>

    <p style="text-align:center;">Default Login: <b>admin / 12345</b></p>
</div>

</body>
</html>
